doctype html
html(lang="en")
   head
      title("Reset your password")
body
   #container
      | Hi,
      br
      br
      | Reset your password
      | Click here <a href="#{link}">Reset</a> to reset your account.
      br
      br
      | Cheers!
      br
      | The ReceiptZ Team