doctype html
html(lang="en")
   head
      title("Welcome to ReceiptZ")
body
   #container
      | Hi,
      br
      br
      | Welcome to ReceiptZ
      | Click here <a href="#{link}">Verify</a> to verify your account.
      br
      br
      | Cheers!
      br
      | The ReceiptZ Team